@page "/"

@inject PixelArtFrontEnd.Services.Interfaces.IFrontEndHelperService frontEndHelper

@using PixelArtFrontEnd.Models
@using System;
@using System.Linq
@using System.Text.Json
@using System.Threading;
<div class="row g-3">
    <div class="col">
        <select class="form-control selectpicker w-auto" @bind="selectedPattern.PatternUUID" @bind:event="oninput" @onchange="GetPatternDetailsByUUIDAsync">
            <option>--select--</option>
            @foreach (var item in availablePatterns)
            {
                <option value="@item.PatternUUID">@item.PatternName</option>    
            }
        </select>
        @if (selectedPattern.PatternUUID != Guid.Empty && currentPatternSequenceDetails != null)
        {
            <EditForm Model="currentPatternSequenceDetails">
                <div class="form-group">
                    <label for="patternName">Pattern Name</label>
                    <InputText type="text" class="form-control" id="patternName" @bind-Value="currentPatternSequenceDetails.PatternName" aria-describedby="patternHelp" placeholder="Enter Name"/>
                    <small id="patternHelp" class="form-text text-muted">Enter pattern name to create/update.</small>
                </div>
                <div class="form-group">
                    <label for="sequenceSelect">Select Sequence Number</label>
                    <InputSelect id="sequenceSelect" ValueExpression="@(()=>currentPatternSequenceDetails.SequenceNumber)" Value="@currentPatternSequenceDetails.SequenceNumber" ValueChanged="@((int sequenceValue) => OnSequenceChange(sequenceValue ))">
                        <option>--select--</option>
                        @for (int count = 1; count <= patternDetails.Count(); ++count)
                        {
                            <option value="@count">@count</option>
                        }
                    </InputSelect>
                </div>
            </EditForm>
            <button class="btn-primary" @onclick="StartPattern">Play</button>
            <button class="btn-danger" @onclick="StopPattern">Stop</button>
        }
    </div>
    <div class="col">
        @for (var i = 0; i < 16; ++i)
        {
            <div class="btn-group" role="group" aria-label="First group">
                @for (var j = 0; j < 16; ++j)
                {
                    if (currentPatternSequenceDetails != null)
                    {
                        <button type="button" style="background-color:@frontEndHelper.GetButtonColor(currentPatternSequenceDetails, i, j)" class="btn btn-secondary mr-2 mb-2">&#8203;</button>
                    }
                }
            </div>
            <br />
        }
    </div>
</div>

